<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<style>
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			/* Define a altura mínima da página como o tamanho da viewport */
		}


		main {
			flex: 1;
			/* Faz com que o conteúdo principal ocupe o espaço restante */
		}

		footer {
			width: 100%;
			background-color: #343a40;
			color: #fff;
			text-align: center;
			padding: 20px 0;
			position: fixed;
			bottom: 0;
			/* Fixa o footer na parte inferior da viewport */
		}
	</style>
	<title>Gerenciar Contatos</title>

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<div class="collapse navbar-collapse" id="textoNavbar">
				<h2>Sistema de Agenda</h2>
			</div>
		</nav>
		<section class="neo-section">
			<div class="center neo-container">
				<br>
				<h1>Gerenciamento Contato</h1>
				<br>
				<div class="botoes">
					<div class="Wm">
						<a class="btn btn-secondary" th:href="@{inserirContato}">Cadastrar Contato</a>
					</div><br>
					<div class="Wm">
						<a class="btn btn-secondary" th:href="@{listarAlterarContatos}">Editar Contato</a>
					</div><br>
					<div class="Wm">
						<a class="btn btn-secondary" th:href="@{listarContatos}">Listar Contato</a>
					</div><br>
					<div class="Wm">
						<a class="btn btn-secondary" th:href="@{listarExcluirContato}">Excluir Contato</a>
					</div>

				</div>
			</div>
		</section>
	</header>
	<footer class="bg-dark text-center text-lg-start"
		style="border-top: 3px solid white; padding: 30px 0; margin-top: 30px;">
		<div class="container" style="color: #fff; font-weight: bold;">
			© AGENDA CONTATOS
		</div>
	</footer>

</body>

</html>